extends layout

block content
  div(data-role="header", class="ui-body-b")
      h1 Address book

      a(href="#popupMenu", data-rel="popup", class="ui-btn ui-corner-all ui-shadow ui-btn-inline ui-icon-carat-d ui-btn-icon-right", data-transition="slidedown", data-theme="b") #{user}
    div(data-role="popup" id="popupMenu")
        ul(data-role="listview")
          li(data-icon="gear")
            a(href="/settings", data-transition="slideup") Settings
          li(data-icon="power")
            a(href="/logout", data-transition="slideup") Log out

  div(class="my_content")
    ul(data-role="listview" data-filter="true")
      each contact in contacts
        li
          a(href="/contact?id=#{contact._id}", data-transition="flip")= contact.name
        
    a(href="/add_contact", class="ui-btn ui-corner-all ui-shadow ui-btn-inline ui-icon-plus ui-btn-icon-left", data-transition="pop") Add new contact
