body
  padding: 50px
   
.ultimateContainer
  padding: 10px

.container
  top: 10px
  padding: 50px
  background-color: #EEEEEE
  width: 550px
  margin: 0 auto 
  border-style: solid
  border-width: 1px
  border-color: #AAAAAA
  border-radius: 0px 100px 0px 0px
  
#infoContainer
  padding: 2px
  display: -webkit-box
  -webkit-box-orient: horizontal
  //border: 1px dotted black
  
#imgDiv
  //padding: 2px
  //border: 1px solid blue
  height: 200px

#contactInfoDiv
  //padding: 2px
  margin-left: 10px
  //border: 1px solid red
  height: 100%
  width: 330px
  
p
  display: inline

.ui-table
  //border: 1px solid green
  width: 150%
  