//Container which adds 10 pixel padding on top
.ultimateContainer
  padding: 10px
  margin: 0 auto
  width: 600px

/*div
  border-style: solid
  border-width: 1px
  border-color: red*/

.my_header
  background-color: #444444
  color: #FFFFFF
  padding: 10px 50px 10px 50px
  border-radius: 10px 10px 0px 0px
  border-style: solid
  border-width: 1px 1px 0px 1px
  border-color: #AAAAAA
  display: -webkit-box
  -webkit-box-orient: horizontal

.my_content
  padding: 50px
  background-color: #EEEEEE
  border-radius: 0px 0px 10px 10px
  border-style: solid
  border-width: 0px 1px 1px 1px
  border-color: #AAAAAA

#user_button
  margin-left: 20px
  
#infoContainer
  padding: 2px
  display: -webkit-box
  -webkit-box-orient: horizontal
  //border: 1px dotted black
  
#imgDiv
  //padding: 2px
  //border: 1px solid blue
  height: 200px
  width: 200px
  overflow: hidden

#contactInfoDiv
  //padding: 2px
  margin-left: 10px
  //border: 1px solid red
  height: 100%
  width: 330px
  
p
  display: inline

.ui-table
  //border: 1px solid green
  width: 150%
  
#error
  color: red
